run="./changelog-scraper -u https://github.com/NoTengoBattery/changelog-scraper/pull/1 -q | awk -F'\\x1d' '{printf \"#%3d:\\t%s\\n\", $2 + 1, $3}'"
language="ruby"

[packager]
ignoredPaths=[".bundle", ".git", ".github", "spec", "vendor"]
